@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 358 80% 47%;
  --primary-foreground: 0 0% 100%;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
}
