---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
}

const { title, description = "SEARO1 Blog - Research ˇP Engineering ˇP Notes" } = Astro.props;
---

<!doctype html>
<html lang="zh">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="min-h-screen">
		<slot name="background" />
		<Header />
		<main class="page-fade-in min-h-screen min-w-0 w-full">
			<slot />
		</main>
		<Footer />
	</body>
</html>
